<h1>Coupons</h1>
<ul>
  <% @coupons.each do |coupon| %>
  <li><%= coupon.coupon_code %> | <%= coupon.store %></li>
    <div><%= link_to coupon.coupon_code, coupon_path(coupon) %></div>
  <% end %>
</ul>